$base: #24273a;
$blue: #8aadf4;
$surface0: #363a4f;
$surface1: #494d64;
$text: #cad3f5;
$overlay0: #6e738d;
$red: #ed8796;
$peach: #f5a97f;
$yellow: #eed49f;
$mauve: #c6a0f6;
$green: #a6da95;
$mantle: #1e2030;
$crust: #181926;
* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "JetBrainsMono Nerd Font";
}
.icon {
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.4rem;
}

.bar {
  background-color: $mantle;
  padding: 0.6rem 0;
  border-radius: 10px;
}
.sysinfo-box {
  background-color: $base;
  padding: 0.9rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.workspace-box {
  background-color: $base;
  // padding: 0.9rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.volume-box {
  background-color: $base;
  padding: 0.9rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.wifi {
  font-size: 1.5rem;
  color: $blue;
}

.clock {
  font-weight: bold;
  background-color: $base;
  color: $text;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.cpubar {
  color: $blue;
  background-color: $surface1;
  border-radius: 10px;
}

.diskbar {
  color: $green;
  background-color: $surface1;
  border-radius: 10px;
}
.membar {
  color: $yellow;
  background-color: $surface1;
  border-radius: 10px;
}

.iconmem {
  color: $base;
  font-size: 2.5rem;
}
.workspace-focused {
  color: $mauve;
}
.workspace-empty {
  color: $overlay0;
}
.workspace-occupied {
  color: $text;
}
.date {
  font-size: 1.5rem;
}
.button-off { 
  color: $red;
  font-size: 2rem;
  padding-left: 1px;
}
.nixos {
  font-size: 1.5rem;
  color: $base;
  background-color: $mauve;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 15px;
  border-radius: 10px;
}
.battery {
  font-size: 1.5rem;
  color: $blue;
}

.cal {
  background-color: $base;
  font-size: 18px;
  font-weight: normal;

  .cal-in {
    padding: 0px 10px 0px 10px;

    .cal {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

.volume-slider {
  background-color: $surface0;
  // padding: 1px;
  border-radius: 10px;
  margin: 1rem 2px 1rem;
  contents {
    trough {
      // padding-top: 3px;
      border-radius:8px;
      slider {
        background: transparent;
      }
      highlight {
        background: $blue;
        padding: 5px;
        margin: 3px 0px 3px 0px;
        border-radius:4px;
      }
    }
  }
}


.workspace-focused {
  color: $mauve;
}
.workspace-empty {
  color: $overlay0;
}
.workspace-occupied {
  color: $text;
}
